@page
@model EventsModel
@{
  ViewData["Title"] = "Events";
}
<h2>@ViewData["Title"]</h2>

<div class="event">
  <h4>Event title here</h4>
  <p><em>27th January 2019</em></p>
  <p>Event details description here.</p>
</div>

<hr />
