@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div id="homepage">
  <div class="jumbotron">
    <div class="container rounded">
      <h1>ESM Racing</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut urna at justo pretium rhoncus. Mauris congue ligula vel augue dictum imperdiet. Fusce consectetur erat sodales enim mollis vestibulum. Vestibulum lacinia euismod ex, quis tincidunt mi imperdiet porttitor. Curabitur venenatis eros quam, ut pulvinar metus rutrum quis. Nullam at erat sed tellus maximus vestibulum. Fusce vitae tempus mauris.</p>
      <p>Aliquam laoreet ultricies cursus. Morbi non est tempor, rhoncus purus eu, elementum nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut interdum, nunc quis pellentesque feugiat, nibh est laoreet leo, ut condimentum lectus libero sit amet enim. Aliquam nulla enim, commodo in enim ut, semper luctus magna. Nunc lacinia luctus neque, et interdum libero mattis laoreet. Suspendisse potenti. Ut ipsum sapien, egestas nec est eu, tempor faucibus justo. Donec lobortis felis libero, vel pellentesque metus consectetur et.</p>
      <p>Nunc eu nibh at ipsum vulputate imperdiet facilisis vel lorem. Nam id nisl risus. In a quam aliquet, gravida erat id, consectetur leo. Ut lobortis sagittis lorem sed aliquet. Proin vel blandit nisl. Vivamus in magna pellentesque turpis finibus sagittis. In eu elit vitae sapien facilisis luctus in vel magna.</p>
    </div>
  </div>
</div>

<style>
  #homepage .jumbotron {
    background-image: url('images/car-colour-trans.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }

    #homepage .jumbotron .container {
      background-color: #fff;
      margin-top: 250px;
      padding-bottom: 5px;
      opacity: 0.8;
    }
</style>
