@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div id="homepage">
  <div class="jumbotron">
    <div class="container rounded">
      <h1>ESM Racing</h1>
      <p>Andrew plans to use his sprint-ready Toyota Celica GT-Four to raise awareness and funds for the Marie Curie Cancer Charity.
        The idea all started a little over four years ago whilst in a bar overlooking the Porsche Curves at Le Mans following the loss of two important friends to cancer in the years previous.</p>
      <p>It all came about during a conversation with Dominic Sheehan, in which he mentioned that he had purchased a race engine and was considering building a sprint car. 
        After being challenged on what he was doing with his life Andrew started to think about moving into the world of sprint/hill climb himself and floated the idea of a Carlos Sainz Toyota Celica ST185 - Dominic approved of that. 
        Whilst usually a hard car to find, Dominic happened to have a friend with one sat in a barn back in Ireland.</p>
      <p>Six weeks later, we received a clean engineers report in hand and a very special Celica was on its way to Liverpool from Ireland. That’s the point when the project became real and the reality of its potential hit home. 
        Our project came in two stages first the engine and drivetrain – then the bodywork as we turned our Carlos Sainz Celica GT-Four from a road car to a thoroughbred sprint car that features a custom roll cage, full engine & gearbox work by high-performance Toyota specialists Fensport - a full race-tuned ST205 set-up - HKS cams and Tarox 10-pot brakes to name just a few of the extensive modifications. </p>
      <p>Despite the impressive credentials, the aim of this project was always to give something back. 
        Andrew had approached Marie Curie about his ambitions to raise funds for them and kept them in touch with his progress throughout the rebuild. 
        The very reason that Andrew embarked on this project was to raise awareness and funds for this charity - with every penny raised going to Marie Curie without compromise.</p>
      <p>This is a brief history of a project that is just beginning. 
        Join me and my little sprint car as we continue our journey into the future with Marie Curie. Let’s all the support this charity for doing such an amazing job in everyone’s lives at a time when they need it most.</p>
    </div>
  </div>
</div>

<style>
  #homepage .jumbotron {
    background-image: url('images/car-colour-trans.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
  }

    #homepage .jumbotron .container {
      background-color: #fff;
      margin-top: 250px;
      padding-bottom: 5px;
      opacity: 0.8;
    }
</style>
